<div class="accordion-heading">
  {{#link-to "element" this.linker }}
    <h3 class="box accordion-toggle collapse in" {{action "toggleCollapse"}}>{{name}}</h3>
  {{/link-to}}
</div>
<div class="accordion-body">
  <div class="accordion-inner">
    #test accordion {{name}}#
    {{outlet}}
    {{isHidden}}
    {{yield}}
  </div>
</div>