<h3 class="box">
  {{name}}
  <div class="span1 pull-right">
    {{duration}}
  </div>
</h3>
<div class="box">
    <div class="row">
      <div class="span5">
        {{name}}
      </div>
      <div class="span1">
        {{duration}}
      </div>
      <div class="span2">
        {{dateTime lastEdit}}
      </div>
    </div>
  </div>