<h3 class="box">
  {{name}}
</h3>

{{#each mssiiLines}}
  <div class="box">
    <div class="row">
      {{#link-to 'adsTrack' adsTrack.id tagName="div" class="span2"}}
        {{adsTrack.name}}
      {{/link-to}}
      <div class="span2">
        {{date start}}
      </div>
      <div class="span2">
        {{date end}}
      </div>
      <div class="span2">
        {{dow}} -{{mon}}-
      </div>

    </div>
  </div>
{{/each}}
