<h3 class="box">
  {{name}}
  {{#if isEditing}}
    <button {{action 'save' this}}>save</button>
  {{else}}
    <button {{action 'edit' this}}>edit</button>
  {{/if}}
</h3>

{{#each mssiiLine in mssiiLines}}
  <div class="box prg-line">
    <div class="row">
      {{#link-to 'adsTrack' mssiiLine.adsTrack.id tagName="div" class="span2"}}
        {{mssiiLine.adsTrack.name}}
      {{/link-to}}
      <div class="validity-date span">
        <input type="text" class="input-small  datepicker" {{bind-attr value=mssiiLine.start disabled=isInputDisabled}} >

      </div>
      <div class="validity-date span">
        <input type="text" class="input-small datepicker" {{bind-attr value=mssiiLine.end  disabled=isInputDisabled}} >
      </div>
      <div class="daily-validity span">
        {{#each day in mssiiLine.dow}}
          <span  {{bind-attr class="day:label day.active:label-info"}} {{action 'toggleState' day}}>
            {{day.name}}
          </span>
        {{/each}}
      </div>

    </div>
  </div>
{{/each}}
