<h3 class="box">
  {{name}} <button {{action 'save' this}}>save</button>
</h3>

{{#each mssiiLine in mssiiLines}}
  <div class="box prg-line">
    <div class="row">
      {{#link-to 'adsTrack' mssiiLine.adsTrack.id tagName="div" class="span2"}}
        {{mssiiLine.adsTrack.name}}
      {{/link-to}}
      <div class="validity-date span">
        {{date mssiiLine.start}}
      </div>
      <div class="validity-date span">
        {{date mssiiLine.end}}
      </div>
      <div class="daily-validity span">
        {{#each day in mssiiLine.dow}}
          <span  {{bind-attr class="day:label day.active:label-info"}} {{action 'toggleState' day}}>
            {{day.name}}
          </span>
        {{/each}}
      </div>

    </div>
  </div>
{{/each}}
