<h3 class="box">
  last tracks played
</h3>
<div id="playlist">
  <div class="box">
    <div class="row">
      <div class="span1">cover</div>
      <div class="span2">basket</div>
      <div class="span2">artist</div>
      <div class="span2">track</div>
      <div class="span1">hour (duration)</div>
    </div>
  </div>
  {{#each }}
    <div class="box">
      <div class="row">
        <div class="span1">
          <img src="http://placehold.it/60x60">
        </div>
        <div class="span2 playlist-line-element">
          {{#link-to 'basket' basket.id tagName="div"}}
            {{basket.name}}
          {{/link-to}}
        </div>
        <div class="span2 playlist-line-element">
          {{artist}}
        </div>
        <div class="span2 playlist-line-element">
          {{#link-to 'track' track.id tagName="div"}}
            {{track.name}}
          {{/link-to}}
        </div>
        <div class="span1 playlist-line-element">
          {{time date}} ({{track.duration}})
        </div>
      </div>
    </div>
  {{/each}}
</div>
